.rating__star{
/* color: #464646 !important; */
color: #757095 !important;
}
.go2062499365{
    margin: 1px !important;
}
.rating__star--full{
    color: #757095 !important;
}
.go4197845992{
    font-size: 19px !important;
   
}