.reviews {
  padding-top: 50px;
  margin-bottom: 50px;
}
.reviews-title {
  position: relative;
  margin-top: 50px;
  /* margin-bottom: 10px; */
}
.hand-img {
  position: absolute;
  top: 50%;
  left: 23%;
  width: 12%;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
}
.reviews-title-text {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 40%;
  margin: auto;
  line-height: 70px;
}
.all-reviews {
  display: flex;
  justify-content: end;
  font-weight: bold;
  margin-bottom: 30px;
}
.reviews-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #f5f2f2 solid 1px;
  border-radius: 10px;
  border-top: none;
  box-shadow: #f1f1f1 0px 5px 5px;
  padding: 20px;
  /* margin: 20px; */
  position: relative;
}
.reviews-card:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.reviews-card .card-img {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  border: solid 5px #fff;
  box-shadow: #c1bfbf 5px 5px 15px;
  margin-bottom: 20px;
}

.reviews-card .card-text {
  text-align: center;
}

.doubleQuotes-img {
  position: absolute;
  top: 47%;
  left: 8%;
  width: 12%;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
}
@media (max-width:830px) {
  .reviews-title-text {
    width: fit-content;
    line-height: 1.8;
  }
  .hand-img {
    display: none;
  }
}