.main-deals {
  /* display: flex;
  justify-content: space-around; */
  margin-top: 170px;
  /* padding-right: 70px;    */
  /* flex-basis: 80%;*/
  /* width: 80%;  */
  /* margin-left: 100px; */
  /* margin: auto; */
}

.deals-right {
  /* margin-right: 170px; */  
  padding-bottom: 175px; ;
}
.deals-left{
  margin-right: 70px;
}
.main-deals-title {
  color: #000;
  /* font-family: Roboto; */
  font-size: 56px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 84.908px;
  margin-bottom: 70px;
}

@media(max-width: 830px) {
  .deals-right {
    /* margin-right: 170px; */  
    padding-bottom: 75px; ;
  }
  .deals-left{
    margin-right: 0px;
  }
  .main-deals-title {
    font-weight: 500;
    line-height: 63.908px;
    margin-bottom: 50px;
  font-size: 45px;}
  }
  @media(max-width: 738px) {
    .main-deals-title {
      font-size: 30px;
      line-height: 43.908px;
      margin-bottom: 35px;
    }
  }