.main-deals {
  /* display: flex;
  justify-content: space-around; */
  margin-top: 70px;
  /* padding-right: 70px;    */
  /* flex-basis: 80%;*/
  /* width: 80%;  */
  /* margin-left: 100px; */
  /* margin: auto; */
}

.deals-right {
  /* margin-right: 170px; */
}

.main-deals-title {
  color: #000;
  /* font-family: Roboto; */
  font-size: 56px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 84.908px;
  margin-bottom: 70px;
}
