.deals {
  position: relative;
  width: 500px; 
  height: 454px;
  border-radius: 4px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.deals-child {
  position: absolute;
  /* width: 30%; */
  bottom: 50px;
  left: 30px;
}
.deals-title {
  color: #fff;
}

.deals-price {
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
}
.time-zone {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-left: 5px;   
}
