/* start sign in and sign up */
.login {
  overflow: hidden;
}
.login .bg-gradient-100,.bg-gradient-200,.bg-gradient-300{
  background: linear-gradient(128deg, rgba(126, 87, 194, 0.58) 5.21%, #FFBE66 100%);
}
.login .bg-gradient-100{
  height: 730px;
}
.login .bg-gradient-200{
  height: 1200px;
}
.login .bg-gradient-300{
  height: 500px;
}

.login .login-form{
  width: 25% !important;
}

.register label {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.register input {
  border: 1px solid #000 !important;
}

.login .line{
  height: 2px;
  width: 100%;
  position: relative;
  background: rgba(112, 104, 104, 0.7);
  margin: 36px 0;
}

.login .line::before {
  content: "OR";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 0 15px;
}

.login .btn-social {
  background-color: transparent !important;
  border: 1px solid #424242 !important;
  width: 100%;
  color: #817f7f !important;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.forget-password label {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.register .agree {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 576px) {
  .register .agree {
    font-size: 13px;
  }
  .login .login-form{
    width: 80% !important;
  }
  .login   .bg-login{
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px){
  .login .login-form{
    width: 50% !important;
  }
  .login  .bg-login{
   display: none;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .login .login-form{
    width: 40% !important;
  }
}
/* end sign in and sign up */

.login .code {
  border-radius: 10px;
  border: 1px solid #7E57C2 !important;
  width: 100px;
  height: 40px;
  text-align: center;
  margin: 0 3px;
}
