.about .container {
    width: 80vw;
    height: 120vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.about .info {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.about .container h1 {
    font-size: 55px;
    letter-spacing: 1.8px;
    font-weight: 500;
    margin: 0;
}

.about .info>p {
    line-height: 1.8;
    font-size: 20px;
    margin: 0;
}

.about .author {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about .author p {
    margin: 5px 0;
}

.about .author .manager {
    color: #ff9200;
    font-size: 20px;
    font-weight: 500;
}

.about .author img {
    width: 70px !important;
    height: 70px !important;
}


.about .imgs {
    position: relative;
    flex-basis: 40%;
}

.about .hotel1 {
    position: absolute;
    width: 368px;
    height: 453px;
    top: 30px;
    left: 30px;
}

.about .hotel2 {
    position: absolute;
    width: 368px;
    height: 453px;
    top: -80px;
    right: -80px;
}

.about .line-img {
    border-radius: 4px;
    border: 4px solid #7E57C2;
    width: 368px;
    height: 453px;
}

.about .circle {
    position: absolute;
    background: rgba(164, 141, 203, 0.18);
    border-radius: 50%;
    width: 184px;
    height: 184px;
    top: -170px;
    left: 140px;
}

.hotelrate {
    position: absolute;
    top: -150px;
    right: -50px;
    /* border: solid 1px #FFFFFF; */
    box-shadow: 0px 0px 5px #eeeeee;
    border-radius: 4px;
    background: #fff;
    padding: 10px 20px;
    text-align: center;
}

.reviews-count {
    color: #757575;
    font-size: 14px;
    opacity: 0.5;
}

.rating {
    color: #000;
    font-family: Besley;
    font-size: 38px;
}
.bestHotel .owl-carousel .owl-nav button.owl-prev,
.bestHotel  .owl-carousel .owl-nav button.owl-next {
	color:  #FF9200;;
    position: absolute;
    bottom: -55px; 
}
.bestHotel .owl-carousel .owl-nav button.owl-prev{
    left:45%;
    transform: translateY(-45%);

}.bestHotel  .owl-carousel .owl-nav button.owl-next {
     right:45%;
     transform: translateY(-45%);
}
.bestHotel  .owl-nav button span {
	font-size: 50px;
}
.bestHotel .owl-theme .owl-dots .owl-dot span{
background-color: rgba(255, 146, 0, 0.35)
}
.bestHotel .owl-theme .owl-dots .owl-dot.active span,.bestHotel  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #FF9200;
}
.bestHotel .owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
}
@media (max-width:820px) {
    .bestHotel .owl-carousel .owl-nav button.owl-prev{
        left:30%;
        transform: translateY(30%);
    
    }.bestHotel  .owl-carousel .owl-nav button.owl-next {
         right:30%;
         transform: translateY(30%);
    }
    .bestHotel .owl-carousel .owl-nav button.owl-prev,
    .bestHotel  .owl-carousel .owl-nav button.owl-next {
        bottom: 3px; 
    }
}