.date-picker {
  /* width: 170px; */
}
.date-picker .date {
  top: -8px;
  left: 0px

}

.home ::-webkit-calendar-picker-indicator {
  background-image: url("../../assets/imgs/arrow.png");
 width: 12px;
 height: 12px;
 
}
.date-picker .input {
  text-indent: -99em;
  background-color: transparent;
}