
.reservation-detail{
  padding: 200px 0 100px;
}
.reservation-detail .guests {
  background: url("../../assets/imgs/arrow-right.png");
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.1rem auto;
  outline: none;
}
.reservation-detail .date-picker {
  width: 220px;
}
.reservation-detail .date-picker .date {
  top: -2px;
  left: 0;
}
::-webkit-calendar-picker-indicator {
  background-image: url("../../assets/imgs/arrow-right.png");
}
.reservation-detail .date-picker .input {
  text-indent: -99em;
}
@media (max-width:830px) {
  .reservation-detail{
    padding: 150px 0 50px;
  }
}