.main {
    background-image: linear-gradient(rgba(255, 224, 166, 1), rgba(126, 87, 194, 1));

    position: absolute;

    /* position: absolute; */

    bottom: 0;
    width: 100%;
}

.main .footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;


}


.main .right .mail-img {
    position: absolute;
    right: 70px;
    top: 100px;
}

.main .left p {

.main .footer-right .mail-img {
    position: absolute;
    right: 60px;
    margin-top: 16px;
}

.main .footer-left p {

    color: #000000;
    line-height: 2;
    font-weight: 450;
}


.main .list ul li {
    list-style: none;
}

.main .list ul a {

.main ul li {
    list-style: none;
}

.main ul a {

    text-decoration: none;
    color: #000000;
    line-height: 1.5;
    font-weight: 600;
    text-indent: -30px;
}

.main .right .mail-input {

.footer-right .mail-input {

    position: relative;
    width: 270px;
    height: 60px;
    border: none;
    background-color: #FFFFFF;
    color: #282828;
    border-radius: 5px;
    padding-left: 20px;
}


.main .right px input::placeholder {
    padding-left: 15px;
}

.main .right input:focus {

.main .footer-right px input::placeholder {
    padding-left: 15px;
}

.main .footer-right input:focus {

    outline: none
}

.main .under {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    border-top: solid 1px #B8B6B6;
    margin: 0 50px;
}

.main .under .left-under p {
    color: #FFFFFF;
}


.main .under .right-under {

.main .under .footer-right-under {

    display: flex;
    justify-content: space-between;
    gap: 20px;
}