html {
    line-height: 1.15;
  }
 /* Remove the margin in all browsers. */
body{
    margin: 0 ;
  }

input:focus{
  outline: none;
}

input::placeholder {
  font-size:12px;
  color: #d0d0d0;
  font-weight:bolder;
}