@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
input:focus {
  box-shadow: none !important;
  outline: none;
}
input::placeholder {
  color: #606060;
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: 400;
}

