@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,200;0,700;1,600;1,700&family=Roboto+Mono:ital@1&display=swap');

.home{
    /* padding: 0px; */
    background-image: url(/src/assets/imgs/home.png);
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 100vh;
}
.home h1{
    font-size: 70px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font: bolder;
}
.home .headerIcon2{
    width: 34px;
    height: 30px;
    top: 10px;
}
.home .headerSearchText1{
    position: relative;
    top: 10px ;
}
.home .date{
    position: relative;
    top: 15px;
    right: 5px;
}
.home .headerIcon1{
    color: #f3ecec;
    width: 20px;
    height: 20px;
}
.home .headerIcon{
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 15%;
}
.home .result{
    position: relative;
    left: 35%;
    top: -10px;
}
.home .title{
    display: flex;
    text-align: start;
    padding: 10px;
    position: relative;
    top: 20%;
    left: 6%;
}
.home .avatar p {
    color: aliceblue;
    position: relative;
    top: 5px;
    left: 20px;
}
.home .avatar {
    display: flex;
    justify-content: center;
    width: 500px;
    position: relative;
    top: 35%;
    left: 10%;
}
.home .headerSearch{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #753cd694;
    color: white;
    font-weight: bold;
    padding: auto;
    position: absolute;
    left: 40%;
    top:60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 890px;
    height: 75px;
}
.home .headerSearchItem1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color:#FF9200;
    border-radius: 5px;
    width: 140px;
    height: 45px;
    margin-top: 15px;
}
.home .headerSearchItem1 a{
    text-decoration: none;
    color: #f3ecec;
    font-size: 10px;
    margin-left: 29%;
}
.home .headerSearchItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 145px;
    gap: 15px;
    height: 59px;
    padding: 10px;
    margin-top: 5px;
}
.home .headerSearchItem3{
    display: flex;
    align-items: center;
    width: 185px;
    gap: 15px;
    height: 59px;
    padding: 10px;
    border-radius: 10px;
}
.home .headerSearchItem2{
    display: flex;
    align-items: center;
    width: 185px;
    gap: 15px;
    height: 59px;
    padding: 10px;
    border-radius: 10px;
}
.home .headerSearchItem1:hover {
    opacity: 9;
    background-color: #743cd668;
}
.home .headerSearchInput {
    border: none!important;
    outline: none;
    width: 75px;
    font-size: 8px;
    color: #f3ecec;
    background-color: #743cd600;
}
.home .check{
    display: grid;
    font-size: 13px;
    position: relative;
    top: 5px;
}
.home .headerSearchText{
    color: lightgray;
    cursor: pointer;
    
}

.home .date {
    background-color: #743cd600;
    border: none!important;
    outline: none;
    font-size: 10px;
    margin-left: 5px;
    color:#f3ecec;
}
.home .options{
    position: absolute;
    top: -130px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 1px 2px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.home .optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}
.home .optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #FF9200;
    cursor: pointer;
    background-color: white;
}
.home .optionCounterButton:disabled{
    cursor: not-allowed;
}

@media only screen and (max-width: 280px){
    .check {
        margin-left: 10px;
    }
    .headerSearch{
        width: 100px;
        padding: 0px;
    }
    .avatar {
        display: grid;
        top: 25%;
        left: 0%;
        width: 251px;
    }
    .title{
        left: 0%;
    }
    .headerSearchItem1{
        margin-left: -30%;
    }
}
@media only screen and (max-width: 393px){
    .check {
        margin-left: 10px;
    }
    .headerSearchItem2{
        width: 180px;
    }
    .headerIcon2{
        width: 25px;
        height: 25px;
        position: relative;
        top: 25%;
        left: -2px;
    }
    .headerSearch{
        position: relative;
        left: 20%;
    }
    .avatar{
        width: 300px;
        left: 0%;
    }
    .title{
        left: 0%;
    }
    .headerSearchItem1{
        margin-left: -30%;
    }
    .result{
        top: -3px;
        left: 58px;
    }
}
@media only screen and (max-width: 414px) {
    .headerSearchItem {
        display: flex;
        width: 270px;
        padding: 15px;
    }
    .headerSearchItem2 {
        width: 270px;
        padding: 15px;
    }
    .headerSearchItem1{
        margin-left: 30%;
    }
    .avatar{
        display: grid;
        top: 25%;
        left: 0%;
        width: 300px;
    }
    .title {
        top: 10%;
        left: 0%;
    }
    .headerSearchText {
        margin-left: 4%;
    }
    .home .options{
        margin-top:70% !important;
    }
    .home h1{
        font-size: 35px;
    }
    .headerSearch{
        display: inline-block;
        width: 300px;
        height: 330px;
        position: relative;
        left: 51%;
        top: 40%;
    }
    .headerIcon2{
        width: 30px;
        height: 20px;
        position: relative;
        top: 25%;
        left: -2px;
    }
    .result{
        top: -3px;
        left: 58px;
    }
}
@media only screen and (width: 540px) {
    .options{
        margin-top:14% !important;
    }
    .headerSearch{
        display: inline-flex;
        padding: 45px;
        gap: 30px;
        width: 440px;
        height: 500px;
        top: 65%;
        left: 270px;
    }
    .headerIcon2{
        width: 25px;
        margin-left: -7px;
    }
    .headerSearchItem{
        width: 230px;
        position: relative;
    }
    .headerSearchItem1 a{
        margin-left: 40%;
    }
    .headerSearchItem1{
        width: 250px;
        position: relative;
        left: 15%;
    }
    .headerSearchItem2{
        width: 150px;
    }
    .headerSearchItem3{
        width: 240px;
    }
    .title{
        top: 5%;
        left: 0%;
    }
    .title h1{
        font-size: clamp(7vw,9vh,.5rem);
    }
    .avatar{
        top: 70%;
        left: 0%;
        display: grid;
    }
}
@media only screen and (width: 768px) {
    .options{
        margin-top:14% !important;
    }
    .headerSearch{
        padding: 45px;
        gap: 30px;
        width: 540px;
        height: 400px;
        top: 45%;
        left: 390px;
    }
    .headerSearchItem{
        width: 230px;
        position: relative;
    }
    .headerSearchItem1 a{
        margin-left: 35%;
    }
    .headerSearchItem1{
        width: 250px;
        position: relative;
        left: 18%;
    }
    .headerSearchItem2{
        width: 200px;
    }
    .headerIcon2{
        width: 27px;
        margin-left: -7px;
    }
    .title{
        top: 5%;
        left: 0%;
    }
    .title h1{
        font-size: clamp(7vw,9vh,.5rem);
    }
    .avatar{
        top: 60%;
    }
    .result{
        top: -3px;
        left: 138px;
    }
}
@media only screen and (width: 820px){
    .options{
        margin-top:14% !important;
    }
    .headerSearch{
        padding: 45px;
        gap: 30px;
        width: 540px;
        height: 400px;
        top: 40%;
        left: 420px;
    }
    
    .headerSearchItem{
        width: 230px;
        position: relative;
    }
    .headerSearchItem1 a{
        margin-left: 35%;
    }
    .headerSearchItem1{
        width: 230px;
        position: relative;
        left: 20%;
    }
    .headerSearchItem2{
        width: 200px;
    }
    .headerSearchItem3{
        width: 200px;
    }
    .title{
        top: 5%;
        left: 0%;
    }
    .title h1{
        font-size: clamp(7vw,9vh,.5rem);
    }
    .avatar{
        top: 60%;
    }
    .headerIcon2{
        width: 30px;
        height: 30px;
        position: relative;
        top: 3%;
        margin-left: -7px;
    }
    .result{
        top: -3px;
        left: 138px;
    }
}
@media only screen and (width: 912px){
    .options{
        margin-top:14% !important;
    }
    .headerSearch{
        padding: 45px;
        gap: 30px;
        width: 540px;
        height: 400px;
        top: 35%;
        left: 460px;
    }
    .result{
        top: -3px;
        left: 138px;
    }
    .headerSearchItem{
        width: 230px;
        position: relative;
        
    }
    .headerIcon2{
        margin-left: -6px;
    }
    .headerSearchItem1{
        width: 250px;
        position: relative;
        left: 20%;
    }
    
    .headerSearchItem2{
        width: 200px;
    }
    .title{
        top: 5%;
        left: 0%;
    }
    .title h1{
        font-size: clamp(7vw,9vh,.5rem);
    }
    .avatar{
        top: 60%;
    }
    .headerSearchItem1 a {
        margin-left: 37%;
    }
}
@media only screen and (width: 1024px){
    .options{
        margin-top:12% !important;
    }
    .title{
        left: 0px;
        top: 30px;
    }
    .avatar{
        top: 400px;
        left: 0px;
    }
    .headerSearchItem{
        width: 420px;
        display: inline-block;
    }
    .headerSearchInput{
        margin-left: 10px;
    }
    .headerSearchItem2{
        width: 180px;
        margin-top: 1%;
        margin-left: 2px;
    }
    .headerSearchItem1{
        margin-left: 7%;
        margin-top: 6%;
    }
    .result{
        top: 2px;
    }
    .headerSearch{
        width: 440px;
        height: 350px;
        top: 450px;
        padding: 30px;
        gap: 10px;
    }
}
@media only screen and (width: 1280px){
    .options{
        margin-top:12% !important;
    }
    .title{
        left: 0px;
        top: 30px;
    }
    .result{
        top: 1px;
        left: 100px;
    }
    .avatar{
        top: 415px;
    }
    .headerSearchInput{
        margin-left: 10px;
    }
    .headerSearchItem{
        width: 420px;
        margin-left: 4%;
    }
    .headerSearchItem2{
        width: 180px;
        margin-left: 5%;
    }
    .headerSearchItem1{
        margin-left: 10%;
        margin-top: 5%;
    }
    .headerSearch{
        width: 480px;
        height: 350px;
        padding: 30px;
        gap: 10px;
    }    
    .check{
        display: flow-root;
    }
}