.headerSearch{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.headerSearchItem1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color:#FF9200;
    border-radius: 10px;
    width: 150px;
    height: 59px;
    
}
.headerSearchItem1 a{
    text-decoration: none;
    color: #f3ecec;
    margin-left: 40px;
}
.headerSearchItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 330px;
    gap: 15px;
    height: 59px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 1px 2px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headerSearchItem2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;
    gap: 15px;
    height: 59px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 1px 2px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerSearchInput {
    border: none!important;
    background-color: #F2F2F2;
    outline: none;
    width: 170px;
}
.headerIcon1{
    position: relative;
    left: 25%;
}
.check{
    display: flex;
}
.headerSearchText{
    color: lightgray;
    cursor: pointer;
    
}
.date {
    border: none!important;
    background-color: #F2F2F2;
    outline: none;
    font-size: 12px;
    margin-left: 5px;
}
.right {
    margin-left: 3%;
}
.options{
    position: absolute;
    top: -5px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 1px 2px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;

}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #FF9200;
    cursor: pointer;
    background-color: white;
}
.optionCounterButton:disabled{
    cursor: not-allowed;
}
@media only screen and (max-width: 280px){
    .check{
        display: grid;
    }
    .headerSearchItem{
        display: flex;
    }
    .headerSearchItem1 {
        margin-left: 10%;
    }
    .headerIcon1{
        display: none;
    }
}
@media only screen and (max-width: 393px){
    .headerIcon1 {
        display: none;
    }
    .check {
        margin-left: 10px;
    }
    .headerSearchItem1 {
        margin-left: 30%;
    }
    .headerSearch{
        margin-left: 2%;
    }
    
}
@media only screen and (max-width: 414px) {
    .headerSearchItem {
        display: inline-block;
        width: 1320px;
        padding: 15px;
    }
    .headerSearchItem2 {
        width: 370px;
        padding: 15px;
    }
    .headerSearchInput{
        width: auto;
        height: 17px;
        margin-left: 20px;
    }
    .headerSearchText {
        margin-left: 4%;
    }
    .headerIcon1 {
        display: none;
    }
    
    .options{
        margin-top:70% !important;
    }
    .headerSearchItem1 {
        margin-left: 30%;
    }
    .headerSearch{
        margin-left: 2%;
    }
}
@media only screen and (width: 540px) {
    .headerSearchItem {
        display: flex;
        width: 550px;
        gap: 19px;
    }
    .headerSearch{
        display: flex;
        margin-left: 10px;
    }
    .headerSearchInput{
        height: 17px;
        width: 150px;
    }
    .headerIcon1 {
        position: relative;
        left: 55%;
    }
    .check{
        display: grid;
    }
    .options{
        margin-top:49% !important;
    }
    .headerSearchItem1 {
        margin-left: 35%;
    }
    .headerSearchItem1 {
        margin-left: 0%;
        width: 240px;
    }
    .headerSearchItem2{
        width: 235px;
    }
}
@media only screen and (width: 768px) {
    .headerSearchInput{
        width: auto;
        height: 17px;
        margin-left: 20px;
    }
    .headerSearch{
        margin-left: 10%;
    }
    .options{
        margin-top:14% !important;
    }
    .headerSearch{
        padding: 45px;
        gap: 30px;
    }
    .headerIcon1{
        position: relative;
        left: 50%;
    }
    .headerSearchItem1 {
        margin-left: 0%;
        width: 260px;
    }
    .headerSearchItem{
        width: 550px;
    }
    .headerSearchItem2{
        width: 260px;
    }
}
@media only screen and (width: 820px){
    .options{
        margin-top:14% !important;
    }
    .headerSearch{
        padding: 45px;
        gap: 30px;
    }
    .headerSearchItem1 {
        margin-left: 37%;
    }
    .headerIcon1{
        position: relative;
        left: 60px;
    }
    .headerSearchItem{
        width: 310px;
    }
}
@media only screen and (width: 912px){
    .options{
        margin-top:14% !important;
    }
    .headerSearch{
        padding: 35px;
        gap: 30px;
    }
    .headerSearchItem1 {
        margin-left: 37%;
    }
    .headerIcon1{
        position: relative;
        left: 80px;
    }
}
@media only screen and (width: 1024px){
    .options{
        margin-top:12% !important;
    }
    .headerSearchItem2{
        margin-top: 1%;
    }
    .headerSearchItem1{
        margin-left: 2%;
        margin-top: 1%;
    }
    .headerIcon1{
        position: relative;
        margin-left: 25%;
    }
}
@media only screen and (width: 1280px){
    .options{
        margin-top:12% !important;
    }
    .headerSearchItem{
        width: 420px;
        display: flex;
    }
    .headerSearchItem2{
        width: 300px;
        margin-top: 1%;
    }
    .headerSearchItem1{
        margin-left: 2%;
        margin-top: 1%;
    }
    .headerIcon1{
        position: relative;
        left: 170px;
    }
}
@media only screen and (max-width: 1300px) {
    .headerSearchItem{
        display: flex;
        margin: 1%;
        padding: 20px;
    }
}

@media only screen and (max-width: 1400px){
    .headerSearchItem {
        gap: 12px;
        padding: 10px;
    }
}

