@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,200;0,700;1,600;1,700&family=Roboto+Mono:ital@1&display=swap');

.home{
    background-image: url(/src/assets/imgs/home.png);
    background-repeat: no-repeat;
    
    background-position: center center;
    width: 100% !important;
    background-size: cover;
    height: 900px;
}
.headerSearch {
    background-color: #7E57C2;
    width: 850px;
    margin-top: 15%;
    display: flex;
    padding: 2px;
}
.form-search{
    display: flex;
    align-items: center;
}

.home h1{
    margin-top: 15%;
    font-size: 66px;
    font-weight: 600;
}
.home .input2 {
    border: none !important ;
    background-color: #7E57C2;
    width: 100%;
    height: 55%;
    font-size: 10px;
}
.home label {
    margin-left: 10px;
}

.location .input1::placeholder {
    color: white !important; 
}
.input1 {
    position: relative;
    margin-top: -4%;
    width: 55%;
    height: 40%;
    border: none !important ;
    background-color: #7E57C2;
    color: #7E57C2;
}
.location {
    margin-left: 25px;
    color: white !important;
    width: 160px;
    
}
.icon {
    margin-right: 1px;
    margin-top: -5px;
    width: 24px;
    height: 20px;
}
.icon1 {
    margin-right: 10px;
    margin-top: -4px;
    width: 24px;
    height: 20px;
}
.icon2 {
    margin-right: 10px;
    margin-top: 10px;
    width: 24px;
    height: 20px;
}
.icon3 {
    margin-right: 5px;
    margin-top: 15px;
}
.home .btn-find {
    background-color: #FF9200;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    left: 60px;
}
.home .btn-find:hover {
    background-color: #FF9200 !important;
}
.select {
    background-color: rgba(126, 87, 194, 0.038);
    border: none;
}
@media only screen and (max-width: 540px) {
    .headerSearch {
        width: 100%;
        height: 370px;
    }
    .home p {
        font-size: 14px;
    }
    .form-search{
        display: grid;
        position: relative;
        left: -9%;
        top: 3px;
    }
    .home .btn-find{
        margin-top: 16%;
        margin-left: -20px;
    }
    .input1{
        margin-left: 10%;
    }
    .check {
        margin-top: 6%;
    }
    .user-avatar{
        margin-left: 50px;
    }
    .home h1{
        margin-top: 20%;
        margin-left: 60px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 912px) {
    .headerSearch {
        width: 70%;
        height: 350px;
        margin-left: 15%;
    }
    .form-search{
        display: grid;
        margin-left: 30%;
        margin-top: 10px;
    }
    .location {
        margin-left: 5px;
    }
    .home .btn-find{
        left: 10%;
        top: -5px;
        width: 150px;
    }
    .icon1{
        margin-left: 0px;
    }
    .home .btn-find{
        margin-top: 16%;
        margin-left: -20px;
    }
    .input1{
        margin-left: 10%;
        height: 20px;
    }
    .check {
        margin-top: 4%;
    }
    .home h1 {
        margin-left: 17%;
    }
    .user-avatar{
        margin-left: 62px;
    }
    .br-s {
        display: none;
    }
    
}